*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --main-color: #f9ac3a;
  --secondary-color: #764024;
}

body {
  padding: 2rem 0;
}

section {
  border: 3px solid var(--secondary-color);
  padding: 1rem;
  display: grid;
  gap: 1rem;
}

.row-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.row-1 a {
  flex: 1;

}

.row-1 a div {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-rows: auto auto 10rem auto;
}

.box-1 {
  background: var(--secondary-color);
  flex: 1;
}

h1 {
  color: var(--main-color);
  font-size: 6rem;
}

h1 span {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

.box {
  gap: 2rem;
  background: #f7f3eb;
  border: 1px solid #c7b3b0;
  cursor: pointer;
}

.box h2 {
  font-size: 2rem;
}

.box p {
  font-size: 1.3rem;
}

.box button {
  padding: 1rem 0;
  background: var(--main-color);
  border: none;
  width: 100%;
}
